<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_MANAGEMENTS_CONFIGMAPS)">Configs</a></li>
                <li><a onclick="movePage(URI_CP_MANAGEMENTS_SECRETS)">Secrets</a></li>
            </ul>
        </article>
        <article class="base">
            <div class="creat creat-type2">
                <div>
                    <h3 th:text="|Secrets #{M0024}|"></h3>
                    <dl class="content-storageBackends">
                        <dt><label>Storage Backend</label></dt>
                        <dd class="g-select-wrap">
                            <div class="g-select">
                                <select name="storageBackends" class="storageBackends">
                                    <option value="Kubernetes">Kubernetes</option>
                                    <option value="Vault">Vault</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="targetNamespace">Namespace</label></dt>
                        <dd>
                            <input disabled="disabled" id="targetNamespace" type="text" />
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="metadataName">Name</label></dt>
                        <dd>
                            <input id="metadataName" type="text" th:placeholder="Name">
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="specifyingDataTypes">Specifying Data Types</label></dt>
                        <dd>
                            <input id="specifyingDataTypes" type="checkbox" />
                            <label for="specifyingDataTypes"></label>
                        </dd>
                        <dt><label for="dataType">Data Type</label></dt>
                        <dd>
                            <input disabled="disabled" id="dataType" type="text" />
                        </dd>
                    </dl>
                </div>

                <!-- Data -->
                <h4 class="tit">Data</h4>
                <div class="con-section">
                    <dl>
                        <dt><label>Key</label></dt>
                        <dd>
                            <input name="key" class="data" type="text" placeholder="Key" />
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Value</label></dt>
                        <dd>
                            <input name="value" class="data" type="text" placeholder="Value" />
                        </dd>
                    </dl>
                </div>
                <!-- // Data -->
                <div class="flex-e data-add-btn">
                    <button type="button" id="dataCreate" class="add-btn" onclick="dataCreate()" th:text="#{M0919}"></button>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <div>
                    <button type="submit" id="save" th:text="#{M0030}"></button>
                    <button onclick="movePage(URI_CP_MANAGEMENTS_SECRETS)" th:text="#{M0029}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {

            func.init(ASIDE_DP1.CONFIGS, ASIDE_DP2.SECRETS);
            var targetNamespace = sessionStorage.getItem('nameSpace');
            const createSecrets = {

                init(){
                    if(sessionStorage.getItem('nameSpace').toLowerCase() == "all") {
                        func.alertPopup('ALERT', MSG_SELECTED_NAMESPACE_ALL, true, MSG_CLOSE, createSecrets.alertListBack);
                        return false;
                    }

                    document.getElementById("targetNamespace").value = targetNamespace;

                    createSecrets.reset;

                    createSecrets.event();
                },

                alertListBack() {
                    movePage(URI_CP_MANAGEMENTS_SECRETS);
                },

                event(){
                    document.getElementById('save').addEventListener('click', (e) => {
                        func.alertPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, createSecrets.save);
                    }, false);
                },

                save() {

                    var dataList = new Array;
                    var data = document.querySelectorAll('.data');
                    for (var i = 0; i < data.length; i++) {
                        dataList.push(`${data[i].getAttribute('name')}` + ":" + `${data[i].value}`)
                    }

                    var createSecrets = {

                        "cluster": sessionStorage.getItem('cluster'),
                        "namespace": sessionStorage.getItem('nameSpace'),
                        "resourceName": "secrets",
                        "metadataName": document.getElementById('metadataName').value,
                        "data": dataList

                    };

                    func.saveData('POST', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/ingresses`, JSON.stringify(createSecrets), true, 'application/json', func.historyBack);
                }
            };

            createSecrets.init();
        };


        /* Data 추가 */
        let conSection = document.querySelector('.data-add-btn');
        function dataCreate() {
            let newData = document.createElement('div');
            newData.classList.add('con-section');
            newData.innerHTML = `
                <div class="flex-e">
                    <button onclick="deleteBtn()">&#10006;</button>
                    <span class="blind">` + DELETE_RULE + `</span>
                </div>
                <dl>
                    <dt><label">Key</label></dt>
                    <dd>
                        <input name="key" class="data" type="text" placeholder="Key" />
                    </dd>
                </dl>
                <dl>
                    <dt><label">Value</label></dt>
                    <dd>
                        <input name="value" class="data" type="text" placeholder="Value" />
                    </dd>
                </dl>`
            conSection.insertAdjacentElement('beforebegin', newData);

            btnSynch();
        };

        /* Data 삭제 */
        function deleteBtn() {
            let currentData = event.currentTarget.parentNode.parentNode;
            currentData.remove();
            btnSynch();
        }

        function btnSynch() {
            let key = document.getElementsByName('key');
            let value = document.getElementsByName('value');

            for (var i = 0 ; i < key.length; i++) {
                key[i].setAttribute('id', 'key_'+`${i}`);
            }

            for (var i = 0 ; i < value.length; i++) {
                value[i].setAttribute('id', 'value_'+`${i}`);
            }
        }
    </script>
</th:block>
</html>