<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <div class="sub-page" id="content">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_CHAOS_EXPERIMENTS)">Chaos</a></li>
                <li><a onclick="movePage(URI_CP_CHAOS_EXPERIMENTS)">Experiments</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <div class="chaosCharts" id="chaosCharts"></div>
                <h4>Details</h4>
                <div class="table_style01">
                    <table>
                        <caption>Details</caption>
                        <colgroup>
                            <col width="20%"/>
                            <col width="80%"/>
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th class="left" scope="row">Name</th>
                            <td class="left" id="name"></td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">Status</th>
                            <td class="left" id="status"></td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">UUID</th>
                            <td class="left" id="uid"></td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">Namespaces</th>
                            <td class="left" id="namespace"></td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">Created time</th>
                            <td class="left" id="createdTime"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Scope</h4>
                <div class="table_style01">
                    <table>
                        <caption>Scope</caption>
                        <colgroup>
                            <col width="20%"/>
                            <col width="80%"/>
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th class="left" scope="row">Namespace Selector</th>
                            <td class="left" id="namespaceSelector"></td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">Label Selectors</th>
                            <td class="left box" id="labelSelectors"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Experiment</h4>
                <div class="table_style01">
                    <table>
                        <caption>Experiment</caption>
                        <colgroup>
                            <col width="20%"/>
                            <col width="80%"/>
                        </colgroup>
                        <tbody class="listTable" id="experiment">
                        <tr>
                            <th class="left" scope="row">Kind</th>
                            <td class="left" id="kind"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Run</h4>
                <div class="table_style01">
                    <table>
                        <caption>Run</caption>
                        <colgroup>
                            <col width="20%"/>
                            <col width="80%"/>
                        </colgroup>
                        <tbody class="listTable" id="run">
                        <tr>
                            <th class="left" scope="row">Duration</th>
                            <td class="left" id="duration"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Events</h4>
                <div class="table_style01">
                    <table class="eventTable">
                        <caption>Events</caption>
                        <colgroup>
                            <col width="80%"/>
                            <col width="20%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Message</th>
                            <th scope="col">Event Time</th>
                        </tr>
                        </thead>
                        <tbody class="scrollTableList">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button id="delete" th:text="#{M0026}" type="submit"></button>
                <div>
                    <a onclick="movePage(URI_CP_CHAOS_EXPERIMENTS)" th:text="#{M0028}"></a>
                </div>
            </div>
        </article>
    </div>
</div>
<div layout:fragment="modal">
    <div class="modal-wrap" style="display:none;">
        <div class="modal">
            <h5 th:text="#{M0034}"></h5>
            <p th:text="#{M0018}"></p>
            <button class="confirm" th:text="#{M0026}" type="submit"></button>
            <a class="close" href="javascript:" th:text="#{M0023}"></a>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!-- ChartJS -->
    <script src="/plugins/chart.js-3.8.0/package/dist/chart.min.js"></script>
    <script>
        const Utils = {
            CHART_COLORS: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',  'rgb(75, 192, 192)', 'rgb(255, 159, 64)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'],
            transparentize(color, opacity) {
                const alpha = opacity === undefined ? 0.5 : 1 - opacity;
                if (typeof color !== 'string') {
                    throw new Error('color must be a string');
                }
                return color.replace(/rgba?\((\d+), (\d+), (\d+),?\s*([\d\.]+)?\)/, (match, r, g, b) => {
                    return `rgba(${r}, ${g}, ${b}, ${alpha})`;
                });
            },
            numbers(cfg) {
                const { min, max, count } = cfg;
                const result = [];
                for (let i = 0; i < count; ++i) {
                    result.push(Math.floor(Math.random() * (max - min + 1)) + min);
                }
                return result;
            }
        };

        const NUMBER_CFG = { min: 0, max: 100, count: 10 };
    </script>
    <script type="text/javascript">
        window.onload = () => {
            func.init(ASIDE_DP1.CHAOS, ASIDE_DP2.EXPERIMENTS);
            const experimentsDetail = {
                statusList: [sessionStorage.getItem('uid')],
                init() {
                    // experimentsDetail 정보 조회
                    func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('chaosNamespace')}/experiments/${sessionStorage.getItem('kind')}/${sessionStorage.getItem('name')}`, 'application/json', experimentsDetail.draw);
                },

                draw(data) {

                    // Details data
                    document.getElementById('name').innerText = sessionStorage.getItem('name');
                    document.getElementById('uid').innerText = sessionStorage.getItem('uid');
                    document.getElementById('namespace').innerHTML = sessionStorage.getItem('chaosNamespace');
                    document.getElementById('createdTime').innerText = data.items[0].metadata.creationTimestamp.replace('T', ' ').replace('Z', '');

                    let experimentStatus = sessionStorage.getItem('status').toLowerCase();

                    if (experimentStatus === 'deleting' || experimentStatus === 'injecting' || experimentStatus === 'running') {
                        document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-ring"><span></span><span></span><span></span><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                    } else {
                        document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-circle"><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                    }

                    // Scope
                    document.getElementById('namespaceSelector').innerText = data.items[0].spec.selector.namespaces[0];

                    const labelSelectors = data.items[0].spec.selector.labelSelectors;

                    if (labelSelectors !== null) {
                        for (let i = 0; i <= Object.getOwnPropertyNames(labelSelectors).length - 1; i++) {
                            let html = `<dl><dt>${Object.getOwnPropertyNames(labelSelectors)[i]}</dt><dd>${labelSelectors[Object.keys(labelSelectors)[i]]}</dd></dl>`;
                            func.appendHtml(document.getElementById('labelSelectors'), html, 'dl');
                        }
                    } else {
                        let html = `<dl>-</dl>`;
                        func.appendHtml(document.getElementById('labelSelectors'), html, 'dl');
                    }

                    // Experiment
                    document.getElementById('kind').innerHTML = data.items[0].kind;

                    if (data.items[0].kind === 'PodChaos') {
                        const action = data.items[0].spec.action;
                        const gracePeriod = data.items[0].spec.gracePeriod;

                        let html = `<tr><th scope="row" class="left">Action</th><td class="left" id="action">${action}</td></tr>`;
                        html += `<tr><th scope="row" class="left">Grace Period</th><td class="left" id="gracePeriod">${gracePeriod}</td></tr>`;
                        func.appendHtml(document.getElementById('experiment'), html, 'tbody');
                    } else if (data.items[0].kind === 'NetworkChaos') {
                        const action = data.items[0].spec.action;

                        let html = `<tr><th scope="row" class="left">Action</th><td class="left" id="action">${action}</td></tr>`;
                        func.appendHtml(document.getElementById('experiment'), html, 'tbody');
                    } else if (data.items[0].kind === 'StressChaos') {
                        // draw chart
                        experimentsDetail.drawChart();

                        // Resource usage by selected Pods during chaos
                         func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/experiments/resourceUsageByPod/${sessionStorage.getItem('name')}`, 'application/json', experimentsDetail.podChart);
                        // Resource usage by workload for selected Pods during chao
                        func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/experiments/resourceUsageByWorkload/${sessionStorage.getItem('name')}`, 'application/json', experimentsDetail.workloadChart);
                        // Resource usage by node during chaos
                        func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/experiments/resourceUsageByNode/${sessionStorage.getItem('name')}`, 'application/json', experimentsDetail.nodeChart);



                        if (data.items[0].spec.stressors.memory != null) {
                            const memoryObj = data.items[0].spec.stressors.memory;

                            let html1 = `<tr><th scope="row" class="left">Memory</th><td class="left" id="memory"></td></tr>`;
                            func.appendHtml(document.getElementById('experiment'), html1, 'tbody');

                            let memory = '';
                            for (let i = 0; i <= Object.getOwnPropertyNames(memoryObj).length - 1; i++) {
                                if (Object.getOwnPropertyNames(memoryObj)[i] !== 'oomScoreAdj') {
                                    memory += Object.getOwnPropertyNames(memoryObj)[i] + ": " + memoryObj[Object.keys(memoryObj)[i]] + "\n";
                                }
                            }
                            document.getElementById('memory').innerText = memory;
                        }

                        if (data.items[0].spec.stressors.cpu != null) {
                            const cpuObj = data.items[0].spec.stressors.cpu;

                            let html2 = `<tr><th scope="row" class="left">CPU</th><td class="left" id="cpu"></td></tr>`;
                            func.appendHtml(document.getElementById('experiment'), html2, 'tbody');

                            let cpu = '';
                            for (let i = 0; i <= Object.getOwnPropertyNames(cpuObj).length - 1; i++) {
                                cpu += Object.getOwnPropertyNames(cpuObj)[i] + ": " + cpuObj[Object.keys(cpuObj)[i]] + "\n";
                            }
                            document.getElementById('cpu').innerText = cpu;
                        }
                    }

                    // Run
                    const duration = data.items[0].spec.duration;

                    if (duration === null) {
                        document.getElementById('duration').innerHTML = 'Run continuously';
                    }
                    if (duration) {
                        document.getElementById('duration').innerHTML = duration;
                    }

                    // event 정보 조회
                    func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/experiments/events?event=True&object_id=${sessionStorage.getItem('uid')}&limit=999`, 'application/json', experimentsDetail.list);

                    experimentsDetail.event();

                },

                list(data) {
                    func.removeHtml(document.querySelector('.scrollTableList'));

                    if (data.items.length > 0) {
                        for (let i = 0; i <= data.items.length - 1; i++) {
                            let name = data.items[i].name.split('.')[0];
                            let createdTime = data.items[i].created_at.replace('T', ' ').replace('Z', '');

                            if (name === sessionStorage.getItem('name')) {
                                let html = `<tr>
                                    <td class="left eventFirstColumn">${data.items[i].message}</td>
                                    <td>${createdTime}</td>
                                </tr>`;
                                func.appendHtml(document.querySelector('.scrollTableList'), html, 'tbody');
                            }
                        }
                    } else {
                        let html = '<tr><td rowspan="2">No Data.</td></tr>';

                        func.appendHtml(document.querySelector('.scrollTableList'), html, 'tbody');
                    }
                },

                drawChart() {
                    document.getElementById('chaosCharts').innerHTML = `
                        <div class="chaosChart">
                            <h4>Resource usage by selected Pods during chaos</h4>
                            <ol id="resourceUsageByPodCharts">
                                <li>
                                    <canvas id="cpuUsageByPodChart" style="height: 250px; max-width: 100%; max-height: 100%;"></canvas>

                                </li>
                                <li>
                                    <canvas id="memoryUsageByPodChart" style="height: 250px; max-width: 100%; max-height: 100%;"></canvas>

                                </li>
                                <li>
                                    <canvas id="appStatusUsageByPodChart" style="height: 250px; max-width: 100%; max-height: 100%;"></canvas>

                                </li>
                            </ol>
                        </div>
                        <div class="chaosChart">
                            <h4>Resource usage by workload for selected Pods during chaos</h4>
                            <ol id="resourceUsageByWorkloadCharts">
                                <li>
                                    <canvas id="cpuUsageByWorkloadChart" style="height: 250px; max-width: 100%; max-height: 100%;"></canvas>
                                </li>
                                 <li>
                                    <canvas id="memoryUsageByWorkloadChart" style="height: 250px; max-width: 100%; max-height: 100%;"></canvas>
                                </li>
                            </ol>
                        </div>
                        <div class="chaosChart">
                            <h4>Resource usage by node during chaos</h4>
                            <ol id="resourceUsageByNodeCharts">
                                <li>
                                    <canvas id="cpuUsageByNodeChart" style="height: 250px; max-width: 100%; max-height: 100%;"></canvas>
                                </li>
                                 <li>
                                    <canvas id="memoryUsageByNodeChart" style="height: 250px; max-width: 100%; max-height: 100%;"></canvas>
                                </li>
                            </ol>
                        </div>
                    `
                },

                podChart(data) {
                    const timeList = data.items[0].time.map(time => time.split('T')[1]);
                    const podName = data.items[0].resourceName;
                    const cpuUsage = data.items[0].cpu;
                    const memoryUsage = data.items[0].memory;
                    const appStatusUsage = data.items[0].appStatus;

                    const dataId = ['cpuUsageByPodChart', 'memoryUsageByPodChart', 'appStatusUsageByPodChart'];

                    let cpuDataSets = [];
                    let memoryDataSets = [];
                    let appStatusDataSets = [];

                    for(var j = 0; j < podName.length; j++){
                        cpuDataSets.push({
                            label: podName[j],
                            data: cpuUsage[j],
                            borderColor: Utils.CHART_COLORS[j],
                            backgroundColor: Utils.transparentize(Utils.CHART_COLORS[j], 0.5),
                        });
                        memoryDataSets.push({
                            label: podName[j],
                            data: memoryUsage[j],
                            borderColor: Utils.CHART_COLORS[j],
                            backgroundColor: Utils.transparentize(Utils.CHART_COLORS[j], 0.5),
                        });
                        appStatusDataSets.push({
                            label: podName[j],
                            data: appStatusUsage[j],
                            borderColor: Utils.CHART_COLORS[j],
                            backgroundColor: Utils.transparentize(Utils.CHART_COLORS[j], 0.5),
                            stepped: true,
                        })
                    }

                    new Chart(
                        document.getElementById('cpuUsageByPodChart'),
                        {
                            type: 'line',
                            data: {
                                labels: timeList,
                                datasets: cpuDataSets,
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                        stack: 'demo',
                                        stackWeight: 1,
                                        min: 0,
                                        max: 1000,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }
                                },
                                plugins: {
                                    legend: false,
                                    title: {
                                        display: true,
                                        text: 'CPU',
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        }
                                    }
                                }
                            },
                        }
                    );
                    new Chart(
                        document.getElementById('memoryUsageByPodChart'),
                        {
                            type: 'line',
                            data: {
                                labels: timeList,
                                datasets: memoryDataSets,
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                        stack: 'demo',
                                        stackWeight: 1,
                                        min: 0,
                                        max: 150,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }
                                },
                                plugins: {
                                    legend: false,
                                    title: {
                                        display: true,
                                        text: 'Memory',
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        }
                                    }
                                }
                            },
                        }
                    );
                    new Chart(
                        document.getElementById('appStatusUsageByPodChart'),
                         {
                            type: 'line',
                            data: {
                                labels: timeList,
                                datasets: appStatusDataSets,
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                        stack: 'demo',
                                        stackWeight: 1,
                                        min: 0,
                                        max: 1,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }
                                },
                                plugins: {
                                    legend: false,
                                    title: {
                                        display: true,
                                        text: 'APP Status',
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        }
                                    }
                                }
                            },
                        }
                    );
                },

                workloadChart(data) {
                    const timeList = data.items[0].time.map(time => time.split('T')[1]);
                    const workloadName = data.items[0].resourceName;
                    const cpuUsage = data.items[0].cpu;
                    const memoryUsage = data.items[0].memory;

                    const dataId = ['cpuUsageByWorkloadChart', 'memoryUsageByWorkloadChart'];

                    let cpuDataSets = [];
                    let memoryDataSets = [];

                    for(var j = 0; j < workloadName.length; j++){
                        cpuDataSets.push({
                            label: workloadName[j],
                            data: cpuUsage[j],
                            borderColor: Utils.CHART_COLORS[j],
                            backgroundColor: Utils.transparentize(Utils.CHART_COLORS[j], 0.5),
                        });
                        memoryDataSets.push({
                            label: workloadName[j],
                            data: memoryUsage[j],
                            borderColor: Utils.CHART_COLORS[j],
                            backgroundColor: Utils.transparentize(Utils.CHART_COLORS[j], 0.5),
                        });
                    }

                    new Chart(
                        document.getElementById('cpuUsageByWorkloadChart'),
                        {
                            type: 'line',
                            data: {
                                labels: timeList,
                                datasets: cpuDataSets,
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                        stack: 'demo',
                                        stackWeight: 1,
                                        min: 0,
                                        max: 1500,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }
                                },
                                plugins: {
                                    legend: false,
                                    title: {
                                        display: true,
                                        text: 'CPU',
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        }
                                    }
                                }
                            },
                        }
                    );
                    new Chart(
                        document.getElementById('memoryUsageByWorkloadChart'),
                        {
                            type: 'line',
                            data: {
                                labels: timeList,
                                datasets: memoryDataSets,
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                        stack: 'demo',
                                        stackWeight: 1,
                                        min: 0,
                                        max: 150,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }
                                },
                                plugins: {
                                    legend: false,
                                    title: {
                                        display: true,
                                        text: 'Memory',
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        }
                                    }
                                }
                            },
                        }
                    );
                },

                nodeChart(data) {
                    const timeList = data.items[0].time.map(time => time.split('T')[1]);
                    const nodeName = data.items[0].resourceName;
                    const cpuUsage = data.items[0].cpu;
                    const memoryUsage = data.items[0].memory;

                    const dataId = ['cpuUsageByNodeChart', 'memoryUsageByNodeChart'];

                    let cpuDataSets = [];
                    let memoryDataSets = [];

                    for(var j = 0; j < nodeName.length; j++){
                        console.log("node : ", Utils.transparentize(typeof Utils.CHART_COLORS[j]));
                        cpuDataSets.push({
                            label: nodeName[j],
                            data: cpuUsage[j],
                            borderColor: Utils.CHART_COLORS[j],
                            backgroundColor: Utils.transparentize(Utils.CHART_COLORS[j], 0.5),
                        });
                        memoryDataSets.push({
                            label: nodeName[j],
                            data: memoryUsage[j],
                            borderColor: Utils.CHART_COLORS[j],
                            backgroundColor: Utils.transparentize(Utils.CHART_COLORS[j], 0.5),
                        });
                    }

                    new Chart(
                        document.getElementById('cpuUsageByNodeChart'),
                        {
                            type: 'line',
                            data: {
                                labels: timeList,
                                datasets: cpuDataSets,
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                        stack: 'demo',
                                        stackWeight: 1,
                                        min: 0,
                                        max: 1500,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }
                                },
                                plugins: {
                                    legend: false,
                                    title: {
                                        display: true,
                                        text: 'CPU',
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        }
                                    }
                                }
                            },
                        }
                    );
                    new Chart(
                        document.getElementById('memoryUsageByNodeChart'),
                        {
                            type: 'line',
                            data: {
                                labels: timeList,
                                datasets: memoryDataSets,
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        type: 'linear',
                                        position: 'left',
                                        stack: 'demo',
                                        stackWeight: 1,
                                        min: 0,
                                        max: 6500,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }
                                },
                                plugins: {
                                    legend: false,
                                    title: {
                                        display: true,
                                        text: 'Memory',
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        }
                                    }
                                }
                            },
                        }
                    );
                },

                event() {
                    document.getElementById('delete').addEventListener('click', (e) => {
                        func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, experimentsDetail.delete);
                    }, false);

                    setInterval(experimentsDetail.statusInterval, 1200);
                },

                statusInterval() {
                    // detail status 정보 조회
                    func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/experiments/status/${sessionStorage.getItem('uid')}`, 'application/json', experimentsDetail.status);
                },

                status(data) {
                    let experimentStatus = data.status;

                    if (experimentStatus === 'finished') {
                        experimentStatus = 'completed'
                    }

                    if (experimentStatus === 'deleting' || experimentStatus === 'injecting' || experimentStatus === 'running') {
                        document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-ring"><span></span><span></span><span></span><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                    } else {
                        document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-circle"><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                    }
                },

                delete() {

                    func.saveData('DELETE', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('chaosNamespace')}/experiments/${sessionStorage.getItem('kind')}/${sessionStorage.getItem('name')}`, '', true, 'application/json', func.historyBack);
                },
            }
            experimentsDetail.init();
        }
    </script>
</th:block>
</html>
