<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_CHAOS_EXPERIMENTS)">Chaos</a></li>
                <li><a onclick="movePage(URI_CP_CHAOS_EVENTS)">Experiments</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Details</h4>
                <div class="table_style01">
                    <table>
                        <caption>Details</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Name</th>
                            <td class="left" id="name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Status</th>
                            <td class="left" id="status"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">UUID</th>
                            <td class="left" id="uid"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Namespaces</th>
                            <td class="left" id="namespace"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Created time</th>
                            <td class="left" id="createdTime"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Scope</h4>
                <div class="table_style01">
                    <table>
                        <caption>Scope</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Namespace Selector</th>
                            <td class="left" id="namespaceSelector"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Label Selectors</th>
                            <td class="left box" id="labelSelectors"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Experiment</h4>
                <div class="table_style01">
                    <table>
                        <caption>Experiment</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable" id="experiment">
                        <tr>
                            <th scope="row" class="left">Kind</th>
                            <td class="left" id="kind"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Run</h4>
                <div class="table_style01">
                    <table>
                        <caption>Run</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable" id="run">
                        <tr>
                            <th scope="row" class="left">Duration</th>
                            <td class="left" id="duration"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Events</h4>
                <div class="table_style01">
                    <table class="eventTable">
                        <caption>Events</caption>
                        <colgroup >
                            <col width="80%" />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Message</th>
                            <th scope="col">Event Time</th>
                        </tr>
                        </thead>
                        <tbody class="scrollTableList">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button type="submit" id="delete" th:text="#{M0026}"></button>
                <div>
                    <a onclick="movePage(URI_CP_CHAOS_EXPERIMENTS)" th:text="#{M0028}"></a>
                </div>
            </div>
        </article>
    </div>
</div>
<div layout:fragment="modal">
    <div class="modal-wrap" style="display:none;">
        <div class="modal">
            <h5 th:text="#{M0034}"></h5>
            <p th:text="#{M0018}"></p>
            <button class="confirm" type="submit" th:text="#{M0026}"></button>
            <a class="close" href="javascript:;" th:text="#{M0023}"></a>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {
            func.init(ASIDE_DP1.CHAOS, ASIDE_DP2.EXPERIMENTS);
            const experimentsDetail = {
                init(){
                    // experimentsDetail 정보 조회
                    func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('chaosNamespace')}/experiments/${sessionStorage.getItem('kind')}/${sessionStorage.getItem('name')}`, 'application/json', experimentsDetail.draw);
                },

                draw(data){
                    // Details data
                    document.getElementById('name').innerText = sessionStorage.getItem('name');
                    document.getElementById('uid').innerText = sessionStorage.getItem('uid');
                    document.getElementById('namespace').innerHTML = sessionStorage.getItem('chaosNamespace');
                    document.getElementById('createdTime').innerText = data.items[0].metadata.creationTimestamp.replace('T', ' ').replace('Z', '');

                    let condition = {};

                    for(let i = 0; i < data.items[0].status.conditions.length; i++){
                        let type = data.items[0].status.conditions[i].type;
                        let status = data.items[0].status.conditions[i].status;
                        condition[type] = status;
                    }
                    // let experimentStatus;
                    //
                    // if(condition.Paused === 'True') {
                    //     experimentStatus = 'paused';
                    // }
                    // else if(condition.AllInjected === 'False' && condition.Selected === 'True') {
                    //     experimentStatus = 'injecting';
                    // }
                    // else if(condition.AllInjected === 'True' && condition.Selected === 'True') {
                    //     experimentStatus = 'running';
                    // }
                    // if(condition.length === 0){
                    //     experimentStatus = 'completed';
                    // }
                    //
                    // if(experimentStatus === 'deleting' || experimentStatus === 'injecting' || experimentStatus === 'running') {
                    //     document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-ring"><span></span><span></span><span></span><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                    // } else {
                 //       document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-circle"><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                 //   }

                    // Scope
                    document.getElementById('namespaceSelector').innerText = data.items[0].spec.selector.namespaces[0];

                    const labelSelectors = data.items[0].spec.selector.labelSelectors;


                    if(labelSelectors !== null) {
                        for (let i = 0; i <= Object.getOwnPropertyNames(labelSelectors).length - 1; i++) {
                            let html = `<dl><dt>${Object.getOwnPropertyNames(labelSelectors)[i]}</dt><dd>${labelSelectors[Object.keys(labelSelectors)[i]]}</dd></dl>`;
                            func.appendHtml(document.getElementById('labelSelectors'), html, 'dl');
                        }
                    }else {
                        let html = `<dl>-</dl>`;
                        func.appendHtml(document.getElementById('labelSelectors'), html, 'dl');
                    }

                    // Experiment
                    document.getElementById('kind').innerHTML = data.items[0].kind;

                    if(data.items[0].kind === 'PodChaos' || data.items[0].kind === 'NetworkChaos'){
                        const action = data.items[0].spec.action;
                        let html = `<tr><th scope="row" class="left">Action</th><td class="left" id="action">${action}</td></tr>`;
                        func.appendHtml(document.getElementById('experiment'), html, 'tbody');
                    }

                    if(data.items[0].kind === 'StressChaos'){

                        if(data.items[0].spec.stressors.memory != null) {
                            const memoryObj = data.items[0].spec.stressors.memory;

                            let html1 = `<tr><th scope="row" class="left">Memory</th><td class="left" id="memory"></td></tr>`;
                            func.appendHtml(document.getElementById('experiment'), html1, 'tbody');

                            let memory = '';
                            for (let i = 0; i <= Object.getOwnPropertyNames(memoryObj).length - 1; i++) {
                                if(Object.getOwnPropertyNames(memoryObj)[i] !== 'oomScoreAdj') {
                                    memory += Object.getOwnPropertyNames(memoryObj)[i] + ": " + memoryObj[Object.keys(memoryObj)[i]] + "\n";
                                }
                            }
                            document.getElementById('memory').innerText = memory;
                        }

                        if(data.items[0].spec.stressors.cpu != null) {
                            const cpuObj = data.items[0].spec.stressors.cpu;

                            let html2 = `<tr><th scope="row" class="left">CPU</th><td class="left" id="cpu"></td></tr>`;
                            func.appendHtml(document.getElementById('experiment'), html2, 'tbody');

                            let cpu = '';
                            for (let i = 0; i <= Object.getOwnPropertyNames(cpuObj).length - 1; i++) {
                                cpu += Object.getOwnPropertyNames(cpuObj)[i] + ": " + cpuObj[Object.keys(cpuObj)[i]] + "\n";
                            }
                            document.getElementById('cpu').innerText = cpu;
                        }
                    }

                    // Run
                    const duration =  data.items[0].spec.duration;

                    if(duration === null){
                        document.getElementById('duration').innerHTML = 'Run continuously';
                    }
                    if(duration){
                        document.getElementById('duration').innerHTML = duration;
                    }

                    // event 정보 조회
                   func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/experiments/events?event=True&object_id=${sessionStorage.getItem('uid')}&limit=999`, 'application/json', experimentsDetail.list);

                    experimentsDetail.event();

                },

                list(data){

                    func.removeHtml(document.querySelector('.scrollTableList'));

                    if(data.items.length > 0){
                        for(var i=0; i<=data.items.length-1; i++){
                            let name = data.items[i].name.split('.')[0];
                            let createdTime = data.items[i].created_at.replace('T', ' ').replace('Z', '');

                            if(name === sessionStorage.getItem('name')) {
                                var html = `<tr>
                                    <td class="left eventFirstColumn">${data.items[i].message}</td>
                                    <td>${createdTime}</td>
                                </tr>`;
                            }
                            func.appendHtml(document.querySelector('.scrollTableList'), html, 'tbody');

                        };
                    } else {
                        var html = '<tr><td colspan="2">No Data.</td></tr>';

                        func.appendHtml(document.querySelector('.scrollTableList'), html, 'tbody');
                    };
                },

                event(){
                    document.getElementById('delete').addEventListener('click', (e) => {
                        func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, experimentsDetail.delete);
                    }, false);

                    setInterval(experimentsDetail.statusInterval, 1200);
                      },

                statusInterval(){
                    // detail status 정보 조회
                    func.loadData('GET', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('chaosNamespace')}/experiments/${sessionStorage.getItem('kind')}/${sessionStorage.getItem('name')}`, 'application/json', experimentsDetail.status);
                },

                status(data){
                    let condition = {};

                    for(let i = 0; i < data.items[0].status.conditions.length; i++){
                        let type = data.items[0].status.conditions[i].type;
                        let status = data.items[0].status.conditions[i].status;
                        condition[type] = status;
                    }
                    let experimentStatus;

                    if(condition.Paused === 'True') {
                        experimentStatus = 'paused';
                    }
                    else if(condition.AllInjected === 'False' && condition.Selected === 'True') {
                        experimentStatus = 'injecting';
                    }
                    else if(condition.AllInjected === 'True' && condition.Selected === 'True') {
                        experimentStatus = 'running';
                    }
                    if(condition.length === 0){
                        experimentStatus = 'completed';
                    }

                    if(experimentStatus === 'deleting' || experimentStatus === 'injecting' || experimentStatus === 'running') {
                        document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-ring"><span></span><span></span><span></span><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                    } else {
                        document.getElementById('status').innerHTML = '<span class="left experiment-' + experimentStatus + '"><span class="lds-circle"><span></span></span>' + experimentStatus.charAt(0).toUpperCase() + experimentStatus.slice(1) + '</span>';
                    }
                },

                delete(){

                    func.saveData('DELETE', `${func.chaosUrl}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('chaosNamespace')}/experiments/${sessionStorage.getItem('kind')}/${sessionStorage.getItem('name')}`, '', true, 'application/json', func.historyBack);
                },
            }
            experimentsDetail.init();
        }
    </script>
</th:block>
</html>