<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <div layout:fragment="content">
    <div id="content" class="sub-page">
      <article class="location">
        <ul>
          <li><a onclick="movePage(URI_CP_BASE_URL)">Global</a></li>
          <li>
            <a onclick="movePage(URI_CP_GLOBAL_FEDERATION)">Federation</a>
          </li>
        </ul>
      </article>
      <article class="base">
        <div class="iframeContainer" id="iframe">
          <iframe id="federation" src=""></iframe>
        </div>
      </article>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script type="text/javascript">
      const iframe = document.getElementById("federation");
      iframe.src = func.federationUrl;
      window.onload = () => {
        IS_GLOBAL = true;
        func.init(ASIDE_DP1.GLOBAL, ASIDE_DP2.FEDERATION);
      };
    </script>
  </th:block>
</html>
