<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_FAULTINJECTION_EXPERIMENTS)">FaultInjection</a></li>
                <li><a onclick="movePage(URI_CP_FAULTINJECTION_EXPERIMENTS)">Experiments</a></li>
            </ul>
        </article>
        <article class="base tab-cont-wrap">
            <!-- tab btn -->
            <ul class="tab-btn">
                <!-- 활성화시 active 클래스 추가 -->
                <li><a href="javascript:">Pod Fault</a></li>
                <li><a href="javascript:">Network Attack</a></li>
                <li><a href="javascript:">Stress Test</a></li>
            </ul>
            <!-- // tab btn -->
            <!-- tab content -->
            <div class="creat tab-content">
                <!-- Pod Fault -->
                <div>
                    <dl>
                        <dt><label for="gracePeriod">Grace period</label></dt>
                        <dd>
                            <input id="gracePeriod" type="text"  th:placeholder="#{M0868}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Namespace Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="namespaceSelectorPod" onchange="changenamespaceSelect()">
                                    <option selected disabled hidden value='' th:text="#{M0869}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Label Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="labelSelectorPod">
                                    <option selected disabled hidden value='' th:text="#{M0870}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="namePod">Name</label></dt>
                        <dd>
                            <input id="namePod" type="text"  th:placeholder="#{M0876}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Preview of Pods to be injected</label></dt>
                        <dd>
                            <textarea id="createTemplatesDetails" rows="30"></textarea>
                        </dd>
                    </dl>
                    <!-- btn -->
                    <div class="btn02">
                        <div>
                            <button type="submit" id="save" th:text="#{M0030}"></button>
                            <button onclick="movePage(URI_CP_GLOBAL_CLUSTER);" th:text="#{M0028}"></button>
                        </div>
                    </div>
                </div>
                <!-- Network Attack-->
                <div>
                    <dl>
                        <dt><label for="latency">Latency</label></dt>
                        <dd>
                            <input id="latency" type="text"  th:placeholder="#{M0871}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="jitter">Jitter</label></dt>
                        <dd>
                            <input id="jitter" type="text"  th:placeholder="#{M0872}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="correlation">Correlation</label></dt>
                        <dd>
                            <input id="correlation" type="text"  th:placeholder="#{M0873}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="direction">Direction</label></dt>
                        <dd>
                            <input id="direction" type="text"  th:placeholder="#{M0874}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="externalTargets">External targets</label></dt>
                        <dd>
                            <input id="externalTargets" type="text"  th:placeholder="#{M0875}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Namespace Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="namespaceSelectorNetwork" onchange="changenamespaceSelect()">
                                    <option selected disabled hidden value='' th:text="#{M0869}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Label Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="labelSelectorNetwork">
                                    <option selected disabled hidden value='' th:text="#{M0870}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="nameNetwork">Name</label></dt>
                        <dd>
                            <input id="nameNetwork" type="text"  th:placeholder="#{M0876}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="durationNetwork">Duration</label></dt>
                        <dd>
                            <input id="durationNetwork" type="text"  th:placeholder="#{M0877}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Preview of Pods to be injected</label></dt>
                        <dd>
                            <textarea id="createTemplatesDetailss" rows="30"></textarea>
                        </dd>
                    </dl>
                    <!-- btn -->
                    <div class="btn02">
                        <div>
                            <button type="submit" id="register" th:text="#{M0030}"></button>
                            <button onclick="movePage(URI_CP_GLOBAL_CLUSTER);" th:text="#{M0028}"></button>
                        </div>
                    </div>
                </div>
                <!-- Stress Test-->
                <div>
                    <dl>
                        <dt><label for="cpuWorkers">CPU Workers</label></dt>
                        <dd>
                            <input id="cpuWorkers" type="text"  th:placeholder="#{M0878}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="load">Load</label></dt>
                        <dd>
                            <input id="load" type="text"  th:placeholder="#{M0879}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="cpuStressors">Options of CPU stressors</label></dt>
                        <dd>
                            <input id="cpuStressors" type="text"  th:placeholder="#{M0880}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="memoryWorkers">Memory Workers</label></dt>
                        <dd>
                            <input id="memoryWorkers" type="text"  th:placeholder="#{M0881}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="size">Size</label></dt>
                        <dd>
                            <input id="size" type="text"  th:placeholder="#{M0882}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="memoryStressors">Options of Memory stressor</label></dt>
                        <dd>
                            <input id="memoryStressors" type="text"  th:placeholder="#{M0883}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Namespace Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="namespaceSelectorStress" onchange="changenamespaceSelect()">
                                    <option selected disabled hidden value='' th:text="#{M0869}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Label Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="labelSelectorStress">
                                    <option selected disabled hidden value='' th:text="#{M0870}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="nameStress">Name</label></dt>
                        <dd>
                            <input id="nameStress" type="text"  th:placeholder="#{M0876}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="durationStress">Duration</label></dt>
                        <dd>
                            <input id="durationStress" type="text"  th:placeholder="#{M0877}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Preview of Pods to be injected</label></dt>
                        <dd>
                            <textarea id="createTemplatesDetail" rows="30"></textarea>
                        </dd>
                    </dl>
                    <!-- btn -->
                    <div class="btn02">
                        <div>
                            <button type="submit" id="save" th:text="#{M0030}"></button>
                            <button onclick="movePage(URI_CP_GLOBAL_CLUSTER);" th:text="#{M0028}"></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // tab content -->
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {
            let info;
            func.init(ASIDE_DP1.FAULTINJECTION, ASIDE_DP2.EXPERIMENTS);


            const createClusters = {
                init() {
                    func.loadData('GET', `${func.url}accounts/provider/info`, 'application/json', createClusters.draw);

                },

                draw(data) {
                    info = new Map(Object.entries(data.items));
                    let html = ``;
                    let createProviderHtml = ``;
                    let registerProviderHtml = ``;

                    for (let key of info.keys()) {
                        if( key != 'KT' ) {
                            createProviderHtml += `<option value="${key}">${key}</option>`; }
                    }

                    for (let key of info.keys()) {
                        registerProviderHtml += `<option value="${key}">${key}</option>`;
                    }
                    func.appendHtml(document.getElementById('createProvider'), createProviderHtml);
                    func.appendHtml(document.getElementById('registerProvider'), registerProviderHtml);

                    createClusters.event();
                },

                event() {
                    document.getElementById('save').addEventListener('click', () => {
                        func.alertPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, createClusters.save);
                    }, false);
                    document.getElementById('register').addEventListener('click', () => {
                        func.alertPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, createClusters.save);
                    }, false);
                },

                save() {
                    let createType = document.querySelector('.tab-btn li.active').getAttribute('type');
                    let arg;

                    if(createClusters.validCheck(createType)){

                        switch(createType) {
                            case 'create':
                                arg = {
                                    "cluster" : document.getElementById('createName').value,
                                    "resourceName": document.getElementById('createName').value,
                                    "providerType": document.getElementById('createProvider').value,
                                    "sshKey": document.getElementById('createSshKeys').value,
                                    "cloudAccountId": createClusters.getCloudAccount(),
                                    "hclScript": document.getElementById('createTemplatesDetail').value,
                                    "description": document.getElementById('createDescription').value,
                                    "isClusterRegister": false
                                }
                                break;
                            case 'register':
                                arg = {
                                    "cluster": document.getElementById('registerName').value,
                                    "resourceName": document.getElementById('registerName').value,
                                    "clusterApiUrl": document.getElementById('registerIP').value,
                                    "providerType": document.getElementById('registerProvider').value,
                                    "clusterToken": document.getElementById('registerCredentials').value,
                                    "description": document.getElementById('registerDescription').value,
                                    "isClusterRegister": true
                                }
                        }
                        //check FILE
                        func.saveData('POST', `${func.url}clusters`, JSON.stringify(arg), true, 'application/json', createClusters.saveComp);
                    }
                },

                saveComp() {
                    func.historyBack();
                },

                getCloudAccount() {
                    if(document.querySelector('#createCloudAccount > option:checked') == null) {
                        return "";
                    } else {
                        return document.querySelector('#createCloudAccount > option:checked').getAttribute('data-id');
                    }
                },

                validCheck(type){
                    if(type == 'create') {
                        if(isEmpty(document.getElementById('createProvider').value)) {
                            func.alertPopup('ERROR', MSG_REQUEST_VALUE_IS_MISSING, true, MSG_CLOSE,  createClusters.validReset);
                            IS_VCHK = true;
                            return false;
                        }
                    }
                    else if(type == 'register') {
                        if(isEmpty(document.getElementById('registerName').value) || isEmpty(document.getElementById('registerIP').value) ||
                            isEmpty(document.getElementById('registerCredentials').value) || isEmpty(document.getElementById('registerProvider').value)) {
                            func.alertPopup('ERROR', MSG_REQUEST_VALUE_IS_MISSING, true, MSG_CLOSE,  createClusters.validReset);
                            IS_VCHK = true;
                            return false;
                        }
                    }

                    return true;
                },
                validReset(){
                    IS_VCHK = false;
                }
            };
            createClusters.init();
        };

        function changeProviderSelect() {
            func.removeHtml(document.getElementById('createCloudAccount'));
            func.removeHtml(document.getElementById('createSshKeys'));
            func.removeHtml(document.getElementById('createTemplates'));

            let html = ``;
            let provider = document.querySelector('#createProvider > option:checked').value;
            if(provider != '') {
                func.loadData('GET', `${func.url}accounts/provider/${provider}`, 'application/json', (e) => {
                    for (let item of e.items) {
                        html += `<option value="${item.name}" data-id="${item.id}"`;
                        html += `>${item.name}</option>`;
                    }

                    func.appendHtml(document.getElementById('createCloudAccount'), html, 'dl');
                });

                func.loadData('GET', `${func.url}templates/provider/${provider}`, 'application/json', (e) => {
                    html = ``;
                    for (let item of e.items) { //FIXME!, 없는 경우

                        html += `<option value="${item.name}" data-id="${item.id}">${item.name}</option>`;
                    }

                    func.appendHtml(document.getElementById('createTemplates'), html, 'dl');
                    changeTemplateSelect();
                });

                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/keys/provider/${provider}`, 'application/json', (e) => {
                    html = ``;
                    for (let item of e.items) {
                        html += `<option value="${item.name}" data-id="${item.id}"`;
                        html += `>${item.name}</option>`;
                    }

                    if (provider != 'NAVER'){
                        document.getElementById('createSshKeys').removeAttribute("disabled")
                        func.appendHtml(document.getElementById('createSshKeys'), html, 'dl');
                    } else {
                        document.getElementById('createSshKeys').setAttribute('disabled',true);
                    }

                });
            }


        }

        function changeTemplateSelect() {
            func.removeHtml(document.getElementById('createTemplatesDetail'));
            func.loadData('GET', `${func.url}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                document.getElementById('createTemplatesDetail').value = e.hclScript;
            })
        }

        let tabs = document.querySelector('.tab-btn');
        let tabBtns = document.querySelectorAll('.tab-btn li');
        let tabContent = document.querySelectorAll('.tab-content > div');

        tabBtns[0].classList.add('active');

        for (let i = 0; i < tabBtns.length; i ++) {
            (function(idx) {
                tabBtns[idx].onclick = function() {
                    for( let j=0; j<tabBtns.length; j++ ) {
                        tabBtns[j].classList.remove('active');
                        tabContent[j].style.display = 'none'
                    }
                    tabBtns[idx].classList.add('active');
                    tabContent[idx].style.display = '';
                };
                tabContent[idx].style.display = 'none';
                tabContent[0].style.display = ''
            })(i);
        }

    </script>
</th:block>
</html>