<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_FAULTINJECTION_EXPERIMENTS)">FaultInjection</a></li>
                <li><a onclick="movePage(URI_CP_FAULTINJECTION_EXPERIMENTS)">Experiments</a></li>
            </ul>
        </article>
        <article class="base tab-cont-wrap">
            <!-- tab btn -->
            <ul class="tab-btn">
                <!-- 활성화시 active 클래스 추가 -->
                <li><a href="javascript:">Pod Fault</a></li>
                <li><a href="javascript:">Network Attack</a></li>
                <li><a href="javascript:">Stress Test</a></li>
            </ul>
            <!-- // tab btn -->
            <!-- tab content -->
            <div class="creat tab-content">
                <!-- Pod Fault -->
                <div>
                    <dl>
                        <dt><label for="namePod">Name</label></dt>
                        <dd>
                            <input id="namePod" type="text"  th:placeholder="#{M0876}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Namespace Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="namespaceSelector" onchange="changeNamespaceSelect()">
                                    <option selected disabled hidden value='' th:text="#{M0869}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Label Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="labelSelector" onchange="changeLabelSelect()">
                                    <option selected disabled hidden value='' th:text="#{M0870}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Preview of Pods to be injected</label></dt>
                        <dd>
                            <div class="table_style01">
                                <table>
                                    <caption>Pod List</caption>
                                    <colgroup >
                                        <col width="12%" />
                                        <col width="38%" />
                                        <col width="30%" />
                                        <col width="20%" />
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Namespace</th>
                                        <th scope="col">State</th>
                                    </tr>
                                    </thead>
                                    <tbody class="podList" id="podList">
                                    </tbody>
                                </table>
                            </div>
                        </dd>
                    </dl>
                    <!-- btn -->
                    <div class="btn02">
                        <div>
                            <button type="submit" id="save" th:text="#{M0030}"></button>
                            <button onclick="movePage(URI_CP_GLOBAL_CLUSTER);" th:text="#{M0028}"></button>
                        </div>
                    </div>
                </div>
                <!-- Network Attack-->
                <div>
                    <dl>
                        <dt><label for="nameNetwork">Name</label></dt>
                        <dd>
                            <input id="nameNetwork" type="text"  th:placeholder="#{M0876}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Namespace Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="namespaceSelectorNetwork" onchange="changeNamespaceSelect()">
                                    <option selected disabled hidden value='' th:text="#{M0869}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Label Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="labelSelectorNetwork">
                                    <option selected disabled hidden value='' th:text="#{M0870}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="latency">Latency</label></dt>
                        <dd>
                            <input id="latency" type="text"  th:placeholder="#{M0871}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="jitter">Jitter</label></dt>
                        <dd>
                            <input id="jitter" type="text"  th:placeholder="#{M0872}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="correlation">Correlation</label></dt>
                        <dd>
                            <input id="correlation" type="text"  th:placeholder="#{M0873}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="direction">Direction</label></dt>
                        <dd>
                            <input id="direction" type="text"  th:placeholder="#{M0874}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="externalTargets">External targets</label></dt>
                        <dd>
                            <input id="externalTargets" type="text"  th:placeholder="#{M0875}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="durationNetwork">Duration</label></dt>
                        <dd>
                            <input id="durationNetwork" type="text"  th:placeholder="#{M0877}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Preview of Pods to be injected</label></dt>
                        <dd>
                            <textarea id="createTemplatesDetailss" rows="30"></textarea>
                        </dd>
                    </dl>
                    <!-- btn -->
                    <div class="btn02">
                        <div>
                            <button type="submit" id="register" th:text="#{M0030}"></button>
                            <button onclick="movePage(URI_CP_GLOBAL_CLUSTER);" th:text="#{M0028}"></button>
                        </div>
                    </div>
                </div>
                <!-- Stress Test-->
                <div>
                    <dl>
                        <dt><label for="nameStress">Name</label></dt>
                        <dd>
                            <input id="nameStress" type="text"  th:placeholder="#{M0876}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Namespace Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="namespaceSelectorStress" onchange="changeNamespaceSelect()">
                                    <option selected disabled hidden value='' th:text="#{M0869}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Label Selector</label></dt>
                        <dd>
                            <fieldset>
                                <select id="labelSelectorStress">
                                    <option selected disabled hidden value='' th:text="#{M0870}"></option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="cpuWorkers">CPU Workers</label></dt>
                        <dd>
                            <input id="cpuWorkers" type="text"  th:placeholder="#{M0878}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="load">CPU Load</label></dt>
                        <dd>
                            <input id="load" type="text"  th:placeholder="#{M0879}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="memoryWorkers">Memory Workers</label></dt>
                        <dd>
                            <input id="memoryWorkers" type="text"  th:placeholder="#{M0881}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="size">Memory Size</label></dt>
                        <dd>
                            <input id="size" type="text"  th:placeholder="#{M0882}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="durationStress">Duration</label></dt>
                        <dd>
                            <input id="durationStress" type="text"  th:placeholder="#{M0877}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Preview of Pods to be injected</label></dt>
                        <dd>
                            <textarea id="createTemplatesDetail" rows="30"></textarea>
                        </dd>
                    </dl>
                    <!-- btn -->
                    <div class="btn02">
                        <div>
                            <button type="submit" id="save1" th:text="#{M0030}"></button>
                            <button onclick="movePage(URI_CP_GLOBAL_CLUSTER);" th:text="#{M0028}"></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // tab content -->
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {
            let info;
            func.init(ASIDE_DP1.FAULTINJECTION, ASIDE_DP2.EXPERIMENTS);

            const selectors = {
                init() {
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/users/namespacesList`, 'application/json', selectors.namespaceSelector);
                },

                namespaceSelector(data) {
                    let selectorsHtml = ``;
                    for (let i = 0; i < data.items.length; i++) {
                        if(data.items[i].cpNamespace === 'ALL') continue;
                        selectorsHtml += `<option value="${data.items[i].cpNamespace}">${data.items[i].cpNamespace}</option>`;
                    }
                    func.appendHtml(document.getElementById('namespaceSelector'), selectorsHtml);
                },
            };
            selectors.init();
        };

        function changeNamespaceSelect() {
            func.removeHtml(document.getElementById('labelSelector'));
            func.removeHtml(document.getElementById('podList'));

            let podName = document.getElementById('namespaceSelector').value;
            func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${podName}/pods`, 'application/json', labelSelector);
        }

        function labelSelector(data) {
            let labelSelectors = {};
            for(let i = 0; i < data.items.length; i++) {
                const labels = data.items[i].labels
                for(let key in data.items[i].labels){
                    labelSelectors[key] = labels[key];
                }
            }

            let selectorsHtml = `<option selected disabled hidden value='' th:text='#{M0870}'></option>`;
            for(let key in labelSelectors) {
                selectorsHtml += `<option value="${key}:${labelSelectors[key]}">${key}:${labelSelectors[key]}</option>`;
            }
            func.appendHtml(document.getElementById('labelSelector'), selectorsHtml);
        }

        function changeLabelSelect() {
            func.removeHtml(document.getElementById('podList'));

            let podName = document.getElementById('namespaceSelector').value;
            let selectorsHtml = document.getElementById('labelSelector').value;
            console.log("selectorsHtml :", selectorsHtml)
            func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${podName}/pods`, 'application/json', podList);

        }

        function podList(data) {
            let html = '';

            for (let i = 0; i < data.items.length; i++) {
                const dataLabels = data.items[i].labels;

                for(let key in labelSelectors) {
                    if(Object.keys(dataLabels).includes(key)) {
                        html += `<tr>
                                      <td>
                                        <input type="checkbox" id="check_${data.items[i].name}" name="check_${data.items[i].name}" value=${data.items[i].name} />
                                        <label for="check_${data.items[i].name}"></label>
                                      </td>
                                      <td id=${data.items[i].name}>${data.items[i].name}</td>
                                      <td id=${data.items[i].namespace}>${data.items[i].namespace}</td>
                                      <td id=${data.items[i].phase}>${data.items[i].phase}</td>
                                    </tr>`;
                    }
                }
            }
            func.appendHtml(document.querySelector(".podList"), html, "tbody",);
        };





        function changeTemplateSelect() {
            func.removeHtml(document.getElementById('createTemplatesDetail'));
            func.loadData('GET', `${func.url}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                document.getElementById('createTemplatesDetail').value = e.hclScript;
            })
        }

        let tabs = document.querySelector('.tab-btn');
        let tabBtns = document.querySelectorAll('.tab-btn li');
        let tabContent = document.querySelectorAll('.tab-content > div');

        tabBtns[0].classList.add('active');

        for (let i = 0; i < tabBtns.length; i ++) {
            (function(idx) {
                tabBtns[idx].onclick = function() {
                    for( let j=0; j<tabBtns.length; j++ ) {
                        tabBtns[j].classList.remove('active');
                        tabContent[j].style.display = 'none'
                    }
                    tabBtns[idx].classList.add('active');
                    tabContent[idx].style.display = '';
                };
                tabContent[idx].style.display = 'none';
                tabContent[0].style.display = ''
            })(i);
        }

    </script>
</th:block>
</html>